{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "es6": true
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off",
    "react/prop-types": "off"
  },
  "plugins": [
    "prettier"
  ]
}