.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profileImage {
  width: 400px;
  height: 400px;
}

.carouselImageLeft {
  z-index: 99;
 position: absolute;
  top: 90%;
  left: 30%;
}

.carouselImageRight {
   z-index: 99;
  position: absolute;
  top: 90%;
  right: 30%;
}

.dropdown {
  position: fixed;
  top: 0em;
  display: grid;
  background: #3e3e3e87;
  /* color: black; */
  z-index: 101;
  right: 4em;
  border-radius: 1em;
}

.profilePic img {
  max-width: 128px;
  max-height: 128px;
  margin: auto;
}

.messagesWindow {
  max-height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.chatProfilePic {
  max-width: 64px;
  max-height: 64px;
  margin: auto;
}