name: Branch CI

on:
  push:
    branches:
      - '*'
      - '!main'

jobs:

  node_ci:
    name: Node CI
    uses: ./.github/workflows/node_ci.yml
    with:
      ENVIRONMENT: CI
    secrets:
      CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}

  docker_ci:
    name: Docker CI
    uses: ./.github/workflows/docker_ci.yml